@model HotelMVC.Models.ReservationModels.ReservationFormViewModel
@{
    ViewData["Title"] = "Edição de reservas";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="">Edição de reservas</h3>
    </div>
</div>

<br />

<form class="row" asp-controller="Reservations" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Reservation.Id" />
    <div class="col-md-6">
        <label for="inputCustomer" class="form-label">Cliente</label>
        <select class="form-select form-control" asp-for="Reservation.CustomerId" asp-items="@(new SelectList(Model.Customers, "Id", "Name"))" id="inputCustomer"></select>
    </div>
    <div class="col-md-6">
        <label for="inputRoom" class="form-label">Quarto</label>
        <select class="form-select form-control" asp-for="Reservation.RoomId" asp-items="@(new SelectList(Model.Rooms, "Id", "Id"))" id="inputRoom"></select>
    </div>
    <div class="col-4">
        <label for="inputNumberOfOccupants" class="form-label">Número de ocupantes</label>
        <input type="number" asp-for="Reservation.NumberOfOccupants" class="form-control" id="inputNumberOfOccupants" placeholder="Digite o número de ocupantes">
    </div>
    <div class="col-4">
        <label for="inputExpectedEntryDate" class="form-label">Data de entrada esperada</label>
        <input type="date" asp-for="Reservation.ExpectedEntryDate" class="form-control" id="inputExpectedEntryDate">
    </div>
    <div class="col-4">
        <label for="inputExpectedDepartureDate" class="form-label">Data de saída esperada</label>
        <input type="date" asp-for="Reservation.ExpectedDepartureDate" class="form-control" id="inputExpectedDepartureDate">
    </div>
    <div class="col-md-12">
        <label for="status">Status da reserva</label>
        <div class="col-md-12">
            <div class="row">
                <div class="form-check mr-4" id="status">
                    <input class="form-check-input statusReservation" asp-for="Reservation.Status" value="1" type="radio" id="statusReservationConfirmed">
                    <label class="form-check-label" for="statusReservationConfirmed">
                        Confirmada
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input statusReservation" asp-for="Reservation.Status" value="0" type="radio" id="statusReservationNotConfirmed">
                    <label class="form-check-label" for="statusReservationNotConfirmed">
                        Não confirmada
                    </label>
                </div>
            </div>
        </div>
    </div>

   @* <div class="col-md-12 mt-1" id="payment" style="display: none;">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <label for="inputReservationValue" class="form-label">Valor da reserva</label>
                <input type="number" class="form-control" id="inputReservation" placeholder="Digite o valor da reserva" readonly>
            </div>
            <div class="col-md-4">
                <label for="inputFormOfPayment" class="form-label">Forma de pagamento</label>
                <input type="text" class="form-control" id="inputFormOfPayment" placeholder="Digite a forma de pagamento">
            </div>
            <div class="col-md-4">
                <label for="inputProof" class="form-label">Comprovante</label>
                <input type="text" class="form-control" id="inputProof" placeholder="Digite o comprovante">
            </div>
        </div>
    </div>*@

    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a class="btn btn-secondary" asp-controller="Reservations" asp-action="Index" role="button">Voltar</a>
    </div>
</form>

@section Scripts {
@*    <script>
        $(".statusReservation").click(function () {
            var value = $('input:radio[name=status]:checked').val();

            if (value == 1) {
                $('#payment').css({"display": ""});
            } else {
                $('#payment').css({ "display": "none" });
            }
        });
    </script>*@
}