@model EmployeesModel
@{
    ViewData["Title"] = "Cadastro de funcionários";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="">Cadastro de funcionários</h3>
    </div>
</div>

<br />

<form class="row" asp-controller="Employees" asp-action="Store" method="post">
    <div class="col-md-6">
        <label for="inputName" class="form-label">Nome</label>
        <input type="text" asp-for="Name" class="form-control" id="inputName" placeholder="Digite o nome do funcionário">
    </div>
    <div class="col-md-6">
        <label for="inputCpf" class="form-label">CPF</label>
        <input type="text" asp-for="Cpf" class="form-control" id="inputCpf" placeholder="Digite o CPF do funcionário">
    </div>
    <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" id="inputEmail" placeholder="Digite o email do funcionário">
    </div>
    <div class="col-md-6">
        <label for="inputTelephone" class="form-label">Telefone</label>
        <input type="text" asp-for="Telephone" class="form-control" id="inputTelephone" placeholder="Digite o telefone do funcionário">
    </div>
    <div class="col-12">
        <label for="inputCity" class="form-label">Cidade</label>
        <input type="text" asp-for="City" class="form-control" id="inputCity" placeholder="Digite a cidade do funcionário">
    </div>
    <div class="col-4">
        <label for="inputRoad" class="form-label">Rua</label>
        <input type="text" asp-for="Road" class="form-control" for="inputRoad" placeholder="Digite a rua do funcionário">
    </div>
    <div class="col-4">
        <label for="inputDistrict" class="form-label">Bairro</label>
        <input type="text" asp-for="District" class="form-control" for="inputDistrict" placeholder="Digite o bairro do funcionário">
    </div>
    <div class="col-4">
        <label for="inputNumber" class="form-label">Number</label>
        <input type="number" asp-for="Number" class="form-control" id="inputNumber" placeholder="Digite o número da casa do funcionário">
    </div>
    <div class="col-4">
        <label for="inputUser" class="form-label">Usuário</label>
        <input type="text" asp-for="User" class="form-control" for="inputUser" placeholder="Digite o usuário do funcionário">
    </div>
    <div class="col-4">
        <label for="inputPassword" class="form-label">Senha</label>
        <input type="password" asp-for="Password" class="form-control" for="inputPassword" placeholder="Digite a senha do funcionário">
    </div>
    <div class="col-4">
        <label for="inputAdmission" class="form-label">Data admissão</label>
        <input type="date" asp-for="Admission" class="form-control" id="inputAdmission">
    </div>
    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a class="btn btn-secondary" asp-controller="Employees" asp-action="Index" role="button">Voltar</a>
    </div>
</form>